name: Test Go

on:
  pull_request:
    branches: [ master ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: `1.20`
      - name: Test
        run: |
          go test -v -covermode=atomic -coverprofile=coverage.out
          cd inMemoryQueue
          go test -v -covermode=atomic -coverprofile=coverage.out
